<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Destek Talep</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <link href="img/logo.png" rel="icon" />
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <img src="img/logo.png" alt="" style="width: 40px; height: 40;" />
      <span class="d-none d-lg-block">Destek Talep</span>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span> </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity?.Name</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>@ViewData["FullName"]</h6>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" asp-controller="Users" asp-action="Index"
                asp-route-username="@User.Identity?.Name">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" class="nav-link">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>

      @if (User.Identity!.IsAuthenticated)
      {
        <li class="nav-item">
          <a asp-controller="Demand" asp-action="Index" class="nav-link collapsed">
            <i class="bi bi-menu-button-wide"></i><span>Submit Request</span>
          </a>
        </li>
      }

      @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
      {
        <li class="nav-item">
          <a asp-controller="ViewRecords" asp-action="Index" class="nav-link collapsed">
            <i class="bi bi-journal-text"></i><span>View Records</span>
          </a>
        </li>
      }
      @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
      {
        <li class="nav-item">
          <a asp-controller="Department" asp-action="Index" class="nav-link collapsed">
            <i class="bi bi-layout-text-window-reverse"></i><span>Add Department</span>
          </a>
        </li>
      }
  </aside>

  <main id="main" class="main">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        @if (ViewContext.RouteData.Values != null)
        {
          @if (ViewContext.RouteData.Values["controller"]?.ToString()?.Equals("Demand") == true &&
         ViewContext.RouteData.Values["action"]?.ToString()?.Equals("Index") == true)
          {
            <li class="breadcrumb-item"><a asp-controller="Demand" asp-action="Index">Submit Request</a></li>
          }
          @if (ViewContext.RouteData.Values["controller"]?.ToString()?.Equals("ViewRecords") == true &&
         ViewContext.RouteData.Values["action"]?.ToString()?.Equals("Index") == true)
          {
            <li class="breadcrumb-item"><a asp-controller="ViewRecords" asp-action="Index">View Records</a></li>
          }
          @if (ViewContext.RouteData.Values["controller"]?.ToString()?.Equals("Department") == true &&
         ViewContext.RouteData.Values["action"]?.ToString()?.Equals("Index") == true)
          {
            <li class="breadcrumb-item"><a asp-controller="Department" asp-action="Index">Add Department</a></li>
          }
        }
      </ol>
    </nav>

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            @if (TempData["message"] != null)
            {
              <div class="alert alert-warning">
                @TempData["Message"]
              </div>
            }
            @RenderBody()
          </div>
        </div>
    </section>
  </main>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="js/main.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
